______________ARRAY OP______________

const arr = [1,3,4,5,8,9];


MAP
const newArr = arr.map( function(item){
    return item * 2
});

||

const newArr = arr.map( function(item, index){
    return item + index
});


console.log(newArr);

..........................

REDUCE(num)

const sum = arr.reduce(function(total, next) {
    return total + next
});
console.log(sum);


..........................

 FILTER(t || f)

const filter = arr.filter(function(item) {
    return item % 2 +++ 0;
})
console.log(filter)

..........................

FIND(exist this info? t || f)

const find = arr.find(function(item){
    return item === 4
})
console.log(find)